{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm">
                <h2 class="card-title text-center mb-4">স্বাWelcome, {{ user.first_name }}!</h2>
                <p class="text-center text-muted">You are a Teachear</p>
                <hr>
                <div class="card-body">
                    <h5 class="card-subtitle mb-3">Profile Details</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>User Name:</strong> {{ user.username }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        <li class="list-group-item"><strong>User type:</strong> {{ user.profile.get_user_type_display }}</li>
                    </ul>
                </div>
                <div class="mt-4 text-center">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary me-2">Edite your profile</a>
                    <a href="{% url 'my_courses' %}" class="btn btn-secondary">See My course</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
